<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title><%= title %></title>
</head>

<body>
    <nav>
        <div id="logo"><h1>LOGO</h1></div>
        <ul id="menu">
            <% let options = ["Registro", "Ingreso", "Inicio", "Salir"] %>
            <% options.forEach(option => { %>
                <li class="<%= option === title ? "active" : "" %>" >
                    <a href="/<%= option.toLowerCase() %>"><%= option %></a>
                </li>
            <% }) %>
        </ul>
    </nav>

    <section>
        <%- include('pages/' + option + '.ejs', {users: users}) -%>
    </section>



</body>

</html>